@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable
@{ ViewBag.Title = "index";
                Layout = "~/Views/_IndexLayout.cshtml"; }
<!DOCTYPE html>
<html>



<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>

    <link href="~/Content/bootstrap10.css" rel="stylesheet" />


    <style>
        thead {
            text-align: center;
            text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
            background-color: dimgray;
            font-size: 20px;
            font-display: block;
            color: white;
        }



        tr {
            text-align: center;
            margin-left: 4px;
            margin-right: 4px;
        }



            tr:hover {
                background-color: dimgrey;
                cursor: pointer;
            }



            tr:nth-child(even) {
                background-color: #f2f2f2
            }



                tr:nth-child(even):hover {
                    background-color: dimgrey;
                    cursor: pointer;
                }

        .tab {
            text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
        }

        .lin {
            float: right;
            font-size: 30px;
            left: 1320px;
            position: fixed;
            color: cornflowerblue;
        }
    </style>

</head>



<body style="background-color: #f2f2f2;font-family:'Times New Roman'">


    

    <form method="post" name="Display" style="margin-top:10px;"><br>
        <h1 style="float: left; color: red; text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc; margin-left: 10px;font-size:30px;">
            ROLE LIST
            @Html.ActionLink("Add New Role", "Insert", "Role", new { @class = "lin" })
        </h1>
        <br /><br /><br />

        @{ if (Model.Rows.Count > 0)
                        {<br>
            <table class="table table-striped table-hover bg-light text-dark" border="1" align="center" cellpadding="8" style="background-color: lightgray;border-radius:15px; font-size: 18px;margin-left: 10px;box-shadow: 5px 10px lightgray;font-family:'Times New Roman';"width="97%" height="100%">
                <thead class="bg-dark text-white text-center" style="font-weight:bold;">
                    <tr>
                        <td>
                            ROLE NAME
                        </td>
                        <td>
                            DESCRIPTION
                        </td>



                        <td colspan="2">ACTION</td>
                    </tr>
                </thead>
                @foreach (DataRow dr in Model.Rows)
                {
<tr>



    <td>@dr["Role_name"].ToString() </td>
    <td>@dr["Role_description"].ToString() </td>



    <td>@Html.ActionLink("Edit", "Insert", new { RoleID = dr["Role_id"].ToString() }, new { @class = "tab" })</td>
    <td>@Html.ActionLink("Delete", "Delete", new { RoleID = dr["Role_id"].ToString() }, new { onclick = "return confirm('Are you sure you want to delete?');" })</td>
</tr>}



            </table>



                            <br /> }
                                        else
                                        {
                            <span> No records found!!</span> } }

    </form>
    <script src="~/Scripts/main.js"></script>





</body>



</html>

